@media (max-width: 991px) {
    .inptFld {
        height: 40px;
        margin: 0 0 10px;
        padding: 0 14px;
        font-size: 14px;
      }
}
@media only screen and (min-width:768px){
    .get_started_sec_btn{
        float: right;
    }
}